
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body class="wrapper">
        <div class="alert alert-warning" role="alert">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages %}
                        <p>{{msg}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        
        <form action="#" method="POST">
            <p>Name:</p>
            <p><input type="text" name="nm"/></p>
            <p><input type="submit" value="Submit"/></p>
        </form>
    </body>
</html>