
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login | Flask Brikke Huygen</title>
    </head>
    <body class="wrapper">
        <div class="alert alert-warning" role="alert">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages %}
                        <p>{{msg}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <h1>Hi, this is the login screen to get into my flask website</h1>
        <h2>Enter your name to log in!</h2>
        <form action="#" method="POST">
            <p>Name:</p>
            <p><input type="text" name="nm"/></p>
            <p><input type="submit" value="Submit"/></p>
        </form>
    </body>
</html>